<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body class="loader--class">
    <%- include("./commons/loader.ejs")%>
    <div class="flex flex-col w-screen h-screen justify-center items-center rounded-lg" style="background: url('/img/forgot-bg.jpg');">
        <h1 class="text-[40px] text-white font-bold">Forgot Password</h1>
        <form action="/users/forget" method="post" class="flex flex-col p-12 border bg-white opacity-1 rounded-lg">
            <input type="text" name="email" placeholder="Enter Email" class="my-3 shadow p-2">
            <input type="submit" class="bg-red-300 m-2 p-2 rounded-lg shadow-lg">
        </form>
    </div>
</body>
</html>