<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/fillDetails" method="post">
        <input type="text" name="institution">
        <input type="text" name="institutionAddress">
        <input type="text" name="userAddres">
        <input type="text" name="role">
        <input type="text" name="username">
        <input type="text" name="mobile">
        <input type="submit">
    </form>
</body>
</html>